---
layout: layouts/post.njk
title: Speaking
tags:
  - nav
navtitle: Speaking
templateClass: tmpl-post
date: 2019-09-01
---

I speak at development and design conferences all over. Some of my talks include:


<h2>Designing for Trust</h2>
<a class="tag">SXSW '15</a> <a class="tag">Codemotion Milan '15</a>
<div class="slides">
<script async class="speakerdeck-embed" data-id="09b1fb40f66e01311d0e0e6fa06be146" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
</div>
<p>This talk reviews some of the factors that engender trust, like reputation, transparency and consent. It also explores some real world examples of products that do a great job of establishing trust, and some others that...miss the mark. The audience should walk out with a better understanding of the issues surrounding privacy and trust, as well as some practical tools for making software products more trustworthy. <a href="https://speakerdeck.com/mvboeke/designing-for-trust-with-notes">View slide notes</a> <a href="https://youtu.be/5sCWnqAHomM">View the video</a></p>

<h2>Getting Paid in 7 inches or less</h2>
<p>Presented at: <a class="tag">WebVisions NYC '14</a> <a class="tag">WebVisions Portland '14</a></p>
<script async class="speakerdeck-embed" data-id="d54fe0c0a2560131cd774e085031888f" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
<p>
In this presentation, I explore the global shift to mobile commerce. I look at emerging hardware and software technologies behind an explosion of experimentation in how we pay for almost everything. I also look at the ways designers and developers can create great experiences in the world of mobile commerce.

<a href="https://speakerdeck.com/mvboeke/getting-paid-in-7-inches-or-less-with-notes">View slide notes</a></p>

<h2>UX Antipatterns: Hidden Traps in Sites & Apps</h2>
  <a class="tag">SXSW '14'</a>
  <a class="tag">Codemash '14</a>
  <a class="tag">That Conference '14</a>
  <a class="tag">Warm Gun '13</a>
<script async class="speakerdeck-embed" data-id="25a4ba4004960132387f0e965c49b3ca" data-ratio="1.61259842519685" src="//speakerdeck.com/assets/embed.js"></script>
<p>In this session, I discuss user experience antipatterns - design conventions that appear to be good solutions at first, but actually end up hampering usability. I look at a number of real life antipatterns collected from around the web, and explore some better approaches. The audience should walk away with a few new items in their design toolkit, and an increased awareness (and wariness) of design conventions. <a href="https://youtu.be/StV8iDNba20">View the video</a></p>

