---
layout: layouts/home.njk
tags:
  - nav
date: 2019-01-01
---
<h1>HEY THERE</h1>
<p>My first name is Michael, but nearly everyone ends up calling me by my last name, because it's fun to say Boeke. <em>BO-key!</em><p>

<p>I have many interests, but I'm prone to obsessing over a few things in particular. These include cars, running, fatherhood, music, and photography, to name a few. Sometimes I <a href="/speaking">speak</a> about my work at conferences and <a href="posts">write</a> about it (and my other obsessions) online.</p>

<h2>Latest Writing</h2>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p><i class="far fa-arrow-circle-right"></i> Check out <a href="{{ '/posts/' | url }}">more posts</a></p>

<h2>Latest Conference Talk</h2>
<script async class="speakerdeck-embed" data-id="09b1fb40f66e01311d0e0e6fa06be146" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
</div>
<p><em>Designing for Trust</em> reviews some of the factors that engender trust, like reputation, transparency and consent. It was featured at SXSW and Codemotion Milan.</p>

<p><i class="far fa-arrow-circle-right"></i> Check out all my  <a href="{{ '/speaking/' | url }}">conference talks</a></p>