---
layout: layouts/home.njk
title: About Me
tags:
  - nav
navtitle: About
---

<h1>What's my deal?</h1>

<p><img class="profile-pic" src="/img/michael_boeke.jpg" />I design and build products, teams, and companies. I enjoy applying a designer's approach and modern technology to industries that need to be pushed into the future. I've worked in startup and growth stage companies my entire career.</p>
<p>Most recently, I co-founded Synap, a relationship management app that was acquired by Imagineer. I'm currently looking for my next adventure.</p>

<p>I live, work, and run countless miles in the wonderful city of Chicago. Sometimes I <a href="/speaking">speak</a> about my work at conferences and <a href="/posts">write</a> about it (and my other obsessions) on the web.</p>

<h3>More details</h3>
<p>You can find me on a few of the usual social networks:</p>
<ul class="social">
  <li>
    <a href="https://www.linkedin.com/in/michaelboeke/"><i class="fab fa-linkedin-in"></i></a>
  </li>
  <li>
    <a href="https://twitter.com/mvboeke"><i class="fab fa-twitter"></i></a>
  </li>
  <li>
    <a href="https://www.instagram.com/memento_motori/"><i class="fab fa-instagram"></i></a>
  </li>
</ul>