---
layout: layouts/home.njk
title: About Me
tags:
  - nav
navtitle: About
---

<h1>What's my deal?</h1>

<p><img class="profile-pic" src="/img/michael_boeke.jpg" />I design and build products, teams, and companies. I get great satisfaction from working in industries that others find boring. I think it’s fun to shake up established industries with the latest technologies, plus a designer’s approach, and see how I can make people’s work day better. Some of the “boring” industries I’ve worked in have turned out to be a pretty big deal, including fintech, payments, and insurtech.</p>

<p>My career has been a journey through design, software development, and product management - sometimes jumping back and forth between those disciplines. By being flexible about my role, and curious about the less glamorous parts of the economy, I’ve had the opportunity to build great products at breakout companies.</p>

<p>I’m always on the lookout for the next boring industry to get reimagined through thoughtful design and emerging technologies. Lately, that’s led me to climate tech - especially the intersection of software with energy and mobility. I’m open to chatting with anyone who is doing interesting things in the climate tech space, so don't hesitate to reach out.</p>

<p>I live, work, and run countless miles in the wonderful city of Chicago. Sometimes I <a href="/speaking">speak</a> about my work at conferences and <a href="/posts">write</a> about it (and my other obsessions) on the web.</p>

<h3>More details</h3>
<p>You can find me on a few of the usual social networks:</p>
<ul class="social">
  <li>
    <a href="https://www.linkedin.com/in/michaelboeke/"><i class="fab fa-linkedin-in"></i></a>
  </li>
  <li>
    <a href="https://twitter.com/mvboeke"><i class="fab fa-twitter"></i></a>
  </li>
  <li>
    <a href="https://www.instagram.com/memento_motori/"><i class="fab fa-instagram"></i></a>
  </li>
</ul>